body {
    background-image: url(../images/background\ 1.png);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    height: max-content;
}

.container {
    width: 1023px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

.header-link {
    display: flex;
    margin-top: 51px;
    margin-bottom: 26px;

}

.header-logo-img {
    width: 53px;
    height: 47px;
    background-image: url(../images/logo\ 1.png);
}


.header-link:hover .header-milan-holidays {
    color: #F26522
}

.header-link:hover .header-logo-img {
    background-image: url(../images/logo\ 2.png);
}

.header-logo-milan {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    padding-left: 8px;
}

.header-logo-holidays {
    padding-left: 8px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}

.header-mail-phone-number {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 19px;
}

.header-mail {
    margin-top: 46px;
}

.header-mail:hover {
    color: #F26522
}

.header-mail,
.header-phone-number {
    font-size: 18px;
    line-height: 18px;
}

.header-phone-number {
    width: 146px;
    height: 21px;
    margin-bottom: 17px;
}

.header-phone-number:hover {
    color: #F26522
}

main {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 220px);
    grid-gap: 78px 61px;
}

.main-link {
    position: relative;
    box-sizing: border-box;
}

.main-image-holder {
    position: relative;
    width: 300px;
    height: 261px;
}

.main-img {
    display: block;
    width: 300px;
    height: 220px;
}

.main-hover-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55px;
    background: #F26522;
    position: absolute;
    bottom: 40px;
    left: 0;
    opacity: 0;
    box-sizing: border-box;
}

.main-link:hover .main-hover-container {
    opacity: 1;
}

.main-link:hover .main-paragraph {
    color: #F26522;
}

.main-link:hover .main-hover-container {
    opacity: 1;
}

.main-hover-container-from {
    font-size: 10px;
    line-height: 10px;
    padding: 7px 257px 8px 16px;
    width: 100%;
}

.main-view-details {
    display: flex;
    justify-content: space-between;
}

.viev-details-€50 {
    font-size: 20px;
    line-height: 20px;
    padding-left: 16px;
    padding-right: 128px;
    padding-bottom: 12px;

}

.viev-details-paragraph {
    font-size: 14px;
    line-height: 14px;
    padding-top: 5px;
}

.main-view-details::after {
    content: '\276F';
    padding-left: 16px;
    padding-right: 13px;
}

.main-paragraph {
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px;
}

.main-paragraph:hover {
    color: #F26522;
}

.footer-paragraph {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    margin-top: 90px;
    margin-bottom: 15px
}